.projects{
    color:black;
    width:60vw;
    margin-left:auto;
    margin-right:auto;
    padding-left:3%vw;
    padding-right:3%vw;
    overflow-x: auto;
}

.fa-star{
    margin-right: 20px;
}
.screenshots{
    text-align:center;
    width:300px;
     margin-left:auto;
    margin-right:auto; 
}


.descriptions{
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

.tech{
    margin-left:auto;
    margin-right:auto;
    display:flex;
    justify-content: center;

}
.tech li{
    margin-right:20px;
    list-style-type: none;
}

.project-links{
    /* color:#E29578; */
    /* color:#3066BE; */
    color:#DD6E42;
    margin-bottom: 20px;
    text-decoration: underline;
}

.links{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}