.projects{
    color:black;
    width:60vw;
    margin-left:auto;
    margin-right:auto;
}

.screenshots{
    text-align:center;
    width:300px;
     margin-left:auto;
    margin-right:auto; 
}


.descriptions{
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

.tech{
    margin-left:auto;
    margin-right:auto;
    display:flex;
    justify-content: center;

}
.tech li{
    margin-right:20px;
    list-style-type: none;
}

.project-links{
    color:red;
}