.projects{
    color:black;
    width:60vw;
    margin-left:auto;
    margin-right:auto;
    padding-left:10px;
    padding-right:10px;
    word-wrap: normal;
    margin-bottom:100px;
}
.projects h2{
    font-size: 35px;
}

.fa-star{
    margin-right: 20px;
}
.screenshots{
    text-align:center;
    
    width:400px;
     margin-left:auto;
    margin-right:auto; 
}

@media all and (min-width:768px){
    .screenshots{
        height:500px;
        width:100%;
    }
}

.descriptions{
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

.tech{
    display:flex;
    flex-direction:column;
    margin-left:auto;
    margin-right:auto;
    justify-content: flex-start;
    align-items: flex-start;
}


.tech li{
    margin-right:20px;
    margin-bottom:20px;
    list-style-type: none;
}

.project-links{
    
    margin-bottom: 20px;
    text-decoration: underline;
}


.links{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

@media all and (min-width:768px){
    .tech{
        
        flex-direction:row;
        justify-content: center;
    
    }
}
