.home{
    background-image: url("../../images/welcome.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  resize: both;
  width: 100%;
}

.home-hero {
   background:white; 
  opacity: 0.7;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
font-size:50px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: "Poppins", sans-serif;
  /* resize: both; */
  width: 100%;
  /* padding-top:30px; */
  padding-bottom:30px; 
  padding-left:10vw;
  padding-right:10vw;
  
}

.home a{
  color:lightsalmon;
text-decoration: underline;
}

@media all and ( min-width:1024px ) {
  .home-hero{
    line-height:0.6em;
    
  }
}