.App {
  text-align: center;
  background: lightcyan;
height:100%;
/* margin-bottom:200px; */
}

a{
  /* color:mistyrose; */
  /* color:middlebluegreen;   */
  color:#006D77;
}
a:hover{
  color:lightsalmon;
}


.App-header {
  /* background: #282c34; */
  background-image: url('./images/welcome.jpg');
  background-size: 100vw;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Poppins', sans-serif;
}



