.App {
  text-align: center;
  background: lightcyan;
  height: 100%;
  /* margin-bottom:200px; */
}

a {
  /* color:mistyrose; */
  /* color:middlebluegreen;   */
  color: #006d77;
}
a:hover {
  color: lightsalmon;
}


/* @media all and (min-width:768px){
  .App-header{
    background-size: 100vw;
  }
} */
