.App {
  text-align: center;
  background: lightcyan;
  height: 100%;
  
}

a {
  color: lightsalmon;
  
    /* color:middlebluegreen;   */
  /* color: #006d77; */
}
a:hover {
  transform: scale(1.2);
  
}



