* {
  box-sizing: border-box;
  text-decoration: none;
  font-size: 20px;

  font-family: "Anonymous Pro", monospace;
}
a {
  color: lightgrey;
}

html {
  background: lightcyan;
  height: 100%;
}

body {
  background: lightcyan;
  height: 100%;
}

a:visited {
  text-decoration: none;
  color: initial;
}

body {
  margin: 0;
}

h2 {
  font-family: "Poppins", sans-serif;
}



main{
  height:100%;
}