* {
  box-sizing: border-box;
  text-decoration: none;
  font-size: 20px;

  font-family: "Anonymous Pro", monospace;
}
a {
  color: lightgrey;
}

html {
  background: lightcyan;
  height: 100%;
}

body {
  background: lightcyan;
  height: 100%;
}

a:visited {
  text-decoration: none;
  color: initial;
}

body {
  margin: 0;
}

h2 {
  font-family: "Poppins", sans-serif;
}

.icon-bar a {
  margin: 0px;
  width: 30%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;

  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.icon-bar {
  margin: 0px;
  display: flex;
  justify-content: center;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: fixed;

  background-color: #555; 
  /* background:white; */
  /* overflow: auto; */
  /* color: white; */
}

main{
  height:100%;
}